body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/*Навигрционная панель*/

.navbar {
  display: flex;
  background-color: #EAE7DC;
  box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.9);
  display: flex; 
  justify-content: center;
  position: fixed; 
  z-index: 10;
  top: 0;
  align-items: center;
  width: 100%;
  
}
.nav_items {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 5px 0px 10px 0px;
 
}

.nav_items {
  display: flex;
  justify-content: space-around;
  width: 80%;
  color: #201b1b;
  font-weight: 200;
}

.nav_item_text {
  display: flex;
  font-weight: 700;
}

.nav-text {
  padding-right: 100px;
  cursor: pointer;
}
.nav-text:last-child {
  padding-right: 0px;
}

.icons img {
  width: 50px;
  margin-top: 3px;
}

/*Бургер навигационной панели*/

.hamburger {
  display: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: rgb(17, 17, 17);
  transition: all 0.3s ease;
}

.hamburger.active .bar {
  background-color: #fff;
  transform: rotate(45deg);
  position: relative;
}

/*Input Навигационно панели*/

.nav_search {
  display: flex;
  border: 1px solid #E98074;;
  border-radius: 30px;
  padding: 10px;
  height: 20px;
  background-color: #EAE7DC;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  order: 1;
  cursor: pointer;
}

.search-field {
  width: 200px;
  border: 0;
  background-color: #EAE7DC;
  color: rgb(15, 15, 15);
  outline: none;
}

input.search-field::placeholder {
  color: #E98074;
}

.search-field:focus {
  outline: none;
}

/*Секция информации обо мне*/
.main1{
  max-width: 100%;
   max-height: 100%;
   background-color: #EAE7DC;
 }

.main__info {
  max-width: 1100px;
  margin: auto;
  padding-top: 180px;
  
}

.section_info {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d3737;
  height: 600px;
  max-width: 1100px;
  color: aliceblue;
}

.section_info_img img {
  width: 80%;
  height: 80%;
  border-radius: 20px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}

.section_info_img {
  max-width: 400px;
  margin-right: 10%;
}

.section_info_items h1 {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 300;
}

.section_info_items h2 {
  margin-bottom: 40px;
  font-size: 20px;
}

.info_contact {
  display: flex;
  height: 80px;
  align-items: center;
}
.info_contact span {
  margin-right: 20px;
  padding-top: 10px;
}
.info_contact span:last-child {
  margin-right: 0px;
}

.section_info_btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin-right: 20px;
  background-color: #EAE7DC;
  cursor: pointer;
  transition: background-color 0.2s ease; 
  overflow: hidden; /
}


.section_info_btn:hover {
  opacity: 0.8;
}


.section_info_btn:active {
  opacity: 0.6;
  transform: scale(0.95); 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}


.span-info {
  width: 50px;
  cursor: pointer;
  
}


