body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.navbar{
    display: flex;  
    background-color: rgb(204, 193, 193);
    background-size: cover;
    align-items: center;  
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.nav_items{
    display: flex;     
    max-width: 1600px;   
    align-items: center;  
    margin: auto;  
    padding: 5px 0px 5px 0px;
    
}


.nav_items{
  display: flex; 
  justify-content: space-around;
  width: 80%;
}

.nav_item_text{display: flex;}


.icons img{
  width: 50px;
  margin-top: 3px;
  
}


.hamburger {
  display: none;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #333;
  transition: all 0.3s ease;
}

/*  Стили для .hamburger.active */
.hamburger.active .bar {
  background-color: #fff;
  transform: rotate(45deg);
  position: relative;
}




.nav-text{
  padding-right: 100px;
  cursor: pointer;
}
.nav-text:last-child{padding-right: 0px;}






.nav_search{  
    display: flex;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 30px;
    padding: 10px;
    height: 20px;
    background-color: rgb(201, 195, 195);
}

  .search-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    order: 1;
    cursor: pointer;
    
  }

  
  .search-field {
    width: 200px;
    border: 0;
    background-color: rgb(201, 195, 195);
    color: rgb(15, 15, 15);
    outline: none;}

    input.search-field::placeholder {
        color: rgb(58, 55, 55); 
      }
  
  .search-field:focus {
    outline: none;
  }
  
 
